<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ex08.mapper.BoardMapper">
    <insert id="insertBoard">
        <selectKey resultType="long" keyProperty="boardId" order="BEFORE">
            SELECT SEQ_BOARD.nextval FROM DUAL
        </selectKey>
            INSERT INTO TBL_BOARD(BOARD_ID, TITLE, CONTENT, MEMBER_ID)
            VALUES (#{boardId}, #{title}, #{content}, #{memberId})
    </insert>

    <select id="selectBoard">
        SELECT BOARD_ID, TITLE, CONTENT, MEMBER_ID
        FROM TBL_BOARD
        WHERE BOARD_ID = #{boardId}
    </select>

    <select id="selectList">
        SELECT B.BOARD_ID, B.TITLE, TO_CHAR(B.CREATED_DATE, 'YYYY-MM-DD') AS CREATED_DATE,
               M.LOGIN_ID
        FROM TBL_BOARD B JOIN TBL_MEMBER M
                              ON B.MEMBER_ID = M.MEMBER_ID
        ORDER BY B.BOARD_ID DESC
    </select>

    <select id="searchList">
        SELECT B.BOARD_ID, B.TITLE, TO_CHAR(B.CREATED_DATE, 'YYYY-MM-DD') AS CREATED_DATE,
               M.LOGIN_ID
        FROM TBL_BOARD B JOIN TBL_MEMBER M
                              ON B.MEMBER_ID = M.MEMBER_ID

        ORDER BY B.BOARD_ID DESC
    </select>

</mapper>












