<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalapp.mapper.board.BoardMapper">
    <insert id="insertBoard">
        <selectKey resultType="long" keyProperty="boardId" order="BEFORE">
            SELECT SEQ_BOARD.nextval FROM DUAL
        </selectKey>
        INSERT INTO TBL_BOARD(BOARD_ID, TITLE, CONTENT, MEMBER_ID)
        VALUES (#{boardId} , #{title} , #{content} , #{memberId})
    </insert>

    <delete id="deleteBoard">
        DELETE FROM TBL_BOARD
        WHERE BOARD_ID = #{boardId}
    </delete>

    <update id="updateBoard">
        UPDATE TBL_BOARD
        SET TITLE = #{title} , CONTENT = #{content} , MODIFIED_DATE = SYSDATE
        WHERE BOARD_ID = #{boardId}
    </update>

    <select id="selectBoard">
        SELECT B.BOARD_ID, B.MEMBER_ID, B.TITLE, B.CONTENT, B.CREATED_DATE, B.MODIFIED_DATE,
               M.LOGIN_ID
        FROM TBL_BOARD B JOIN TBL_MEMBER M
            ON B.MEMBER_ID = M.MEMBER_ID
        WHERE B.BOARD_ID = #{boardId}
    </select>

    <select id="selectList">
        SELECT B.BOARD_ID, B.MEMBER_ID, B.TITLE, M.LOGIN_ID
        FROM TBL_BOARD B JOIN TBL_MEMBER M
            ON B.MEMBER_ID = M.MEMBER_ID
        ORDER BY B.BOARD_ID DESC
    </select>
</mapper>