<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>게시물 상세보기</title>
  <link rel="stylesheet" th:href="@{/css/board/list.css}" />
  <link rel="stylesheet" th:href="@{/css/board/detail.css}" />
  <script defer type="module" th:src="@{/js/board/detail.js}"></script>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<div class="container">
  <h1 class="title">자유 게시판</h1>
  <div class="post-wrap">
    <div class="post-wrap__box">
      <div class="post-header">
        <h2 class="post-title" th:text="${board.title}"></h2>
        <p class="post-info">
          작성자: <span th:text="${board.loginId}"></span> | 작성일: <span th:text="${board.createdDate}"></span> | 수정일 : <span th:text="${board.modifiedDate}"></span>
        </p>
      </div>
      <div class="post-content" th:utext="${board.content}"></div>
      <div class="post-images">
        <!-- 이미지 예시 -->
        <img src="example1.jpg" alt="첨부 이미지 1" />
        <img src="example2.jpg" alt="첨부 이미지 2" />
        <!-- /이미지 예시 -->
      </div>
    </div>
    <div class="btn-wrap">
      <th:block th:if="${session.memberId == board.memberId}">
        <button type="button" class="btn-modify" th:data-id="${board.boardId}">수정</button>
        <button type="button" class="btn-remove" th:data-id="${board.boardId}">삭제</button>
      </th:block>
      <button type="button" class="btn-back" th:data-id="${board.boardId}">뒤로 가기</button>
    </div>
    <div class="reply-wrap">
      <h3>댓글 작성</h3>
      <div class="reply-wrap__box">
        <div class="reply-content__box">
          <div class="reply-writer">홍길동</div>
          <textarea name="replyContent" id="reply-content" cols="30" rows="10"></textarea>
        </div>
        <div class="reply-btn-wrap">
          <button type="button" class="btn-reply">작성 완료</button>
        </div>
      </div>

      <!-- 댓글 리스트 -->
      <div class="reply-list-wrap">
        <!-- 리플 예시 -->
        <div class="reply">
          <div class="reply-box">
            <div class="reply-box__writer">김철수</div>
            <div class="reply-box__content">안녕하세요!</div>
          </div>
          <div class="reply-btn-box">
            <span class="reply-btns"></span>
            <div class="reply-btns__box none">
              <div class="reply-modify-btn">수정</div>
              <div class="reply-remove-btn">삭제</div>
            </div>
          </div>
        </div>
        <!-- /리플 예시 -->
      </div>
    </div>
  </div>
</div>
</body>
</html>