<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalapp.mapper.comment.CommentMapper">
    <insert id="insertComment">
        <selectKey resultType="long" keyProperty="commentId" order="BEFORE">
            SELECT SEQ_COMMENT.nextval FROM DUAL
        </selectKey>
        INSERT INTO TBL_COMMENT(COMMENT_ID, CONTENT, MEMBER_ID, BOARD_ID)
        VALUES (#{commentId} , #{content} , #{memberId} , #{boardId})
    </insert>
    <select id="selectList">
        SELECT C.COMMENT_ID, C.CONTENT, C.CREATED_DATE , C.MODIFIED_DATE, C.BOARD_ID, C.MEMBER_ID,
               M.LOGIN_ID
        FROM TBL_COMMENT C JOIN TBL_MEMBER M
            ON C.BOARD_ID = #{boardId} AND C.MEMBER_ID = M.MEMBER_ID
        ORDER BY COMMENT_ID DESC
    </select>
    <update id="updateComment">
        UPDATE TBL_COMMENT
        SET CONTENT = #{content}, MODIFIED_DATE = SYSDATE
        WHERE COMMENT_ID = #{commentId}
    </update>
    <delete id="deleteComment">
        DELETE FROM TBL_COMMENT
        WHERE COMMENT_ID = #{commentId}
    </delete>

    <select id="selectListWithSlice">
        SELECT COMMENT_ID, CONTENT, CREATED_DATE, MODIFIED_DATE, BOARD_ID, MEMBER_ID, LOGIN_ID
        FROM (
            SELECT ROWNUM AS RNUM, COMMENT_ID, CONTENT, CREATED_DATE, MODIFIED_DATE, BOARD_ID, MEMBER_ID, LOGIN_ID
            FROM(
            SELECT C.COMMENT_ID, C.CONTENT, C.CREATED_DATE , C.MODIFIED_DATE, C.BOARD_ID, C.MEMBER_ID,
            M.LOGIN_ID
            FROM TBL_COMMENT C JOIN TBL_MEMBER M
            ON C.BOARD_ID = #{boardId} AND C.MEMBER_ID = M.MEMBER_ID
            ORDER BY COMMENT_ID DESC
            )
            <![CDATA[
            WHERE ROWNUM <= #{pageDTO.page} * #{pageDTO.amount} + 1
            ]]>
        )
        WHERE RNUM > (#{pageDTO.page} - 1) * #{pageDTO.amount}
    </select>
</mapper>