<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>좋아하는 음식, 색 고르기</h1>
    <form action="/favorite" method="post">
        빨강 : <input type="checkbox" name="colors" value="red"> <br>
        파랑 : <input type="checkbox" name="colors" value="blue"> <br>
        노랑 : <input type="checkbox" name="colors" value="yellow"> <br>

        햄버거 : <input type="radio" name="food" value="H"> <br>
        피자 : <input type="radio" name="food" value="P"> <br>
        케이크 : <input type="radio" name="food" value="C"> <br>
        <button>전송</button>
    </form>
</body>
</html>